html{
    height: 100vh;
    background-color:darkgrey;  
    /*width: 100%;*/
    color:black;
}
body{
    margin: 0;
    padding: 0;
    /*max-width: 100%;*/
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
#footerList{
    list-style-type: none;
}
#navBar{
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */   
    color:black;
    display:flex;
    justify-content: flex-end;
}#navBar:hover{
    cursor: pointer;
}
#navStyle{
    list-style-type: none;
    background-color:slategray;
    padding: 0;
    margin: 0;
}
#galleryNext{
    margin-top: 20px;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    cursor:pointer;
    text-align:center;
    width: 200px;
    height: 40px;
    background-color:black;
    color:white;
}#galleryNext:active{
    background-color:black;
    color:white;
    padding:-3px -3px -3px -3px;
    border: 3px solid orange;
}
.component{
    padding: 10px 10px;
}
#componentDisplay{
    margin: 10px 0;
}

.componentImg{
    padding: 10px;
}
.navItem{
    display: inline-block;
    padding: 10px 10px 10px 10px;
    
}.navItem:hover{
    padding-bottom: 7px;
    border-bottom:3px solid orange;
}

/*Flexbox*/

.wrapper {
    display: flex;
    flex-flow: row wrap;
    height: 100vh;
    background-color:darkgrey;
  }
  
  /* We tell all items to be 100% width, via flex-basis */
  .wrapper > * {
    flex: 1 100%;
  }

  .header{
    display:flex;
    justify-content: flex-end;    
    background-color:slategray;
  }
.navigation {
    list-style: none;
    margin: 0; 
    padding: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: flex-end;
  }
.aside{
    background-color:darkgrey;
}
.main{
    background-color:darkgrey;
}
.footer{
      display:flex;
      justify-content:flex-start;
      background-color:slategray;
      padding-top: 20px;
}
  
  /* We rely on source order for mobile-first approach
   * in this case:
   * 1. header
   * 2. article
   * 3. aside 1
   * 4. aside 2
   * 5. footer
   */

  /* Media Queries */
  /* Medium screens */
  @media all and (min-width: 600px) {
    /* We tell both sidebars to share a row */
    .aside { flex: 1 auto; padding:0 10px; }
    .main {margin-top:20px;}

  }

  /* Large screens */
  @media all and (min-width: 800px) {
    /* We invert order of first sidebar and main
     * And tell the main element to take twice as much width as the other two sidebars 
     */
    .main { flex: 2 0px; }
    .aside-1 { order: 1; }
    .main    { order: 2; }
    .aside-2 { order: 3; }
    .footer  { order: 4;}
  }

  @media all and (max-width: 800px) {
    .navigation {
      justify-content: space-around;
    }
    .virtualDom2{
      display:flex;
  }
  }
  
  @media all and (max-width: 600px) {
    .componentImg{
        width:300px;
    }
    .navigation {
      -webkit-flex-flow: column wrap;
      flex-flow: column wrap;
      padding: 0;
    }
    
    .navigation li:last-of-type a {
      border-bottom: none;
    }
    #virtualDom2{
      display:none;
  }
    .component{
        margin:0;
    }
    #logoImg{
        height:20px;
    }
    #componentDisplay{
        height:100vh;
    }
  
  }